<nav>
    <div class="nav-wrapper white">
        <button href="#" data-activates="slide-out" class="button-collapse waves-effect waves-light btn-large blue"><i
                    class="material-icons">menu</i></button>
        <ul id="nav-mobile">
            <img src="images/logo.png"/>
        </ul>
    </div>
</nav>
<ul id="slide-out" class="side-nav">
    <li>
        <div class="user-view">
            <div class="background">
                <img src="images/background.jpg">
            </div>
            <a href="#!user"><img class="circle" src="images/perfil.jpg"></a>
            <a href="#!name"><span class="black-text name"><%= user.nome %></span></a>
            <a href="#!email"><span class="black-text email"><%= user.user %></span></a>
            <a href="#!saldo"><span class="black-text email">Saldo:<%= user.credito %></span></a>
        </div>
    </li>
    <li><a href="/home">Home<i class="material-icons">home</i></a></li>
    <li><a href="/listar_itens">comprar<i class="material-icons">add_shopping_cart</i></a></li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">cadastro<i class="material-icons">add</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/cadastro_cliente">cliente<i class="material-icons">person_add</i></a></li>
                        <li><a href="/cadastro_item"><i class="material-icons">add_to_queue</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Listar<i class="material-icons">search</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="/listar_clientes">cliente<i class="material-icons">person</i></a></li>
                        <li><a href="/listar_itens"><i class="material-icons">tv</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Editar<i class="material-icons">brush</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="editar_cliente">cliente<i class="material-icons">person</i></a></li>
                        <li><a href="editar_item"><i class="material-icons">tv</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <ul class="collapsible collapsible-accordion">
            <li>
                <a class="collapsible-header">Deletar<i class="material-icons">delete_forever</i></a>
                <div class="collapsible-body">
                    <ul>
                        <li><a href="deletar_cliente">cliente<i class="material-icons">remove_circle_outline</i></a>
                        </li>
                        <li><a href="deletar_item"><i class="material-icons">remove_from_queue</i>item</a></li>
                    </ul>
                </div>
            </li>
        </ul>
    </li>
    <li>
        <div class="divider"></div>
    </li>

    <li><a href="/logout">Logout<i class="material-icons">autorenew</i></a></li>
</ul>
<br/><br/>